@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AuthorizationPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	</head>
	
	<body>
	<link rel="stylesheet" href="~/css/main.css"/>
		<div class="containerHeader">
			<nav class="navbar navbar-expand navbar-light">
				<a class="navbar-brand font-weight-bold">LOGO</a>
				<ul class="navbar-nav">@Model.Value("header", fallback: Fallback.ToDefaultValue, defaultValue: new HtmlString("Menu1 | Menu 2 | Menu 3"))</ul>
			</nav>
		</div>
		<div class="container">
			<div class="row section">
				<div class="col-lg-10">
                    <form class="inputForm" onclick="event.preventDefault()">
                        <div class="form-group">
                            <label for="inputUsernamr">Username:</label>
                            <input type="text" class="form-control" id="usernameInput" aria-describedby="emailHelp" placeholder="Enter your full name">
                            <small id="nameHelp" class="form-text text-muted">We'll never share your name</small>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Passsword:</label>
                            <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                            <small id="passwordHelp" class="form-text text-muted">We'll never share your password</small>
                        </div>
                            <div class="form-group form-check"></div>
                        <button type="add" id="buttonAuthorization" onclick="sendRequestOnServer()" class="btn btn-primary">Submit</button>
                    </form>
				</div>				
			</div>
			<div class="col-lg-10">
				<div id="myAlertSuccess" class="alert alert-success" style = "display:none" role="alert">
            		<svg class="bi flex-shrink-0 me-2" width="13" height="24"></svg>
					<div id="successResponse"> </div>
				</div>
				<div id="myAlertError" class="alert alert-danger" style = "display:none" role="alert">
            		<svg class="bi flex-shrink-0 me-2" width="10" height="10"></svg>
                	<div id = "errorResponse">Error!</div>
            	</div>
				<div id="TooManyRequests" class="alert alert-danger" style="display:none" role="alert">
					<svg class="bi flex-shrink-0 me-2" width="13" height="24"></svg>
					<div id="manyRequests">Too many requests! Try later.</div>
				</div>
            </div>	
		</div>
	<script src="~/scripts/handleServerResponseMessage.js"></script>	
	<script src="~/scripts/request.js"></script>
	</body>
</html>